{% extends "bbase.html" %}

{% block content %}
<div class="container py-5" id="custom-cards">

    <img src="/static/img/ts.jpg">
    <div class="row row-cols-0 align-items-stretch py-5">
        <div class="col">
            <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg">
                <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                    <h2>Отпишитесь, если нашли, как попасть на эту страницу</h2>

                </div>
            </div>
        </div>
    </div>

</div>


<img src="/static/img/all_week.jpg">
{% endblock %}